<!DOCTYPE html>
<html lang=ja>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="../css/default.css">
	<style type="text/css">
	.auto-style3 {
	}
	</style>
</head>
<br>
<br>
<br>
<body style="margin-top: 0px">
	<div class="form-wrapper">
	<br>
	<br>
	<p style="text-align: center;">
    <img src="../images/logo.jpg" height="83" width="406"/>
    </p>
	<font><p style="font-size: xx-large">社員管理システム</p></font>
<br>
<br>
		<form th:action="@{/groupB/B0}" method="post" style="height: 296px">
			<table align="center" style="width: 529px">
				<tr>
					<th style="width: 302px">　　　　　 メールアドレス：</th>
					<td style="width: 429px">
					<input type="text"  name="author_mail"  value="" required class="auto-style2" style="width: 180px"></td>
				</tr>

				<tr>
					<th style="width: 302px">　　　　　　　パスワード：</th>
					<td style="width: 429px">
					<input type="password"  name="author_password" align ="left" required class="auto-style3" style="width: 180px"></td>
				</tr>
				<tr>
					<th style="width: 302px">　　</th>
					<td style="width: 429px">　　</td>
				</tr>
				<tr>
					<td colspan="2">　　　　会員登録時のメールアドレスとパスワードでログインいただけます</td>
				</tr>
			</table>

				<div class="button-panel" style="width: 100%" align="center">

					<input type="submit" class="button" title="Sign In" value="ログイン" style="width: 46%"></input><!--  onclick="location.href='index.html'" -->
				</div>
			</input>
				</div>
		</form>
		<hr>
		<center><div> <a>〒110-0015 東京東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
		<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>
	</div>
</body>
</html>

