<!DOCTYPE html>
<html lang=ja>
<head>
	<meta charset=UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="./css/default.css">
	<style type="text/css">
h1 {
text-align : center ;
}
.center {
text-align : center;
}
	.auto-style3 {
		margin-left: 0px;
	}
	</style>
</head>
<br>
<br>
<h1>(株)サンシーアシステム</h1>
<body>
<br>
<br>
<center><p style="font-size: x-large">グループB管理システム</p></font></center>
<br>

		<form method="post" action="index.html">
			<table align="center">
				<tr>
					<th style="width: 178px">メールアドレス：</th>
					<td style="width: 662px">
					<input type="text"  name="mail"  value="" required class="auto-style2" style="width: 180px"></td>
				</tr>
				<tr>
					<th style="width: 178px">パスワード　　：</th>
					<td style="width: 491px">
					<input type="password"  name="pass" align ="left" required class="auto-style3" style="width: 180px"></td>
				</tr>
				<tr>
					<td style="width: 178px"></td>
					<td style="width: 491px">会員登録時のメールアドレスとパスワードでログインいただけます</td>
				</tr>
				<tr>
					<td style="width: 178px"></td>
					
					<td style="width: 491px"><input type="button" value= "管理者ログイン" onclick="location.href='index.html';"> </a></tr>
				</tr>
				<tr>
					<td style="width: 178px"></td>
					<td style="width: 491px"><a href="BN01.html">新規登録</a></tr>
				<tr>
					<td style="width: 178px"></td>
					<td style="width: 491px"><a href="BF01.html">パスワードをお忘れの方</a></tr></td>
			</table align="center">
		</form>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<hr>
		<center><div> <a>〒110-0015 東京東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
		<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>

</body>
</html>
