<!DOCTYPE html>
<html lang=ja>
<head>
	<meta charset="UTF-8">
	<title>パスワードをお忘れの方</title>
<link rel="stylesheet" type="text/css" href="sample.css" />
	<style type="text/css">
.auto-style1 {
	border-style: solid;
	border-width: 1px;
}
</style>
</head>
<body>
<br>
<h1>パスワードをお忘れの方</h1>
	<br>
	<br>
	<p style="font-size: large">こちらからパスワードを再発行してください。<br>
            ご本人様確認を行ないます。登録時に使用されたメールアドレスとパスワードヒントを入力の上、「sent」を押してください。 </p>
            <br>
	<h3 style="font-size: large">ご本人確認</h3>	
		<form method="post" action="BF02.html">

			<table class="auto-style1" >
				<tr>
					<th>メールアドレス：</th>
					<td><input type="text"  name="mail"  value="" required></td>
					</tr>
				<tr>
					<th>ヒント　　　　：</th>
					<td><input type="password hint"  name="hint"  required></td>
				</tr>
				<tr>
					<th>送信　　　　　：</th>
					<td>
					<input type="submit" value="sent" required style="width: 173px"></td>
			</table>

		</form>
	
<a href="B0.html">ログオン画面に戻る</a>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<hr>
		<center><div> <a>〒110-0015 東京東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
		<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>

</body>

</html>
