<!DOCTYPE html>
<html lang=ja>
<head>
	<meta charset="UTF-8">
	<title>パスワードをお忘れの方</title>
<link rel="stylesheet" type="text/css" href="sample.css" />
</head>
<body>
<br>
<h1>パスワードをお忘れの再発行</h1>
<br>
<br>
<br>
	<p style="font-size: large">入力されたメールアドレスにパスワード再設定用のメールを送らさせていただきました。<br>
	メールの内容に見てパスワードの再設定を行ってください。<br>
	なお、メールが届かない場合はDB管理者郭瑞さんにご連絡宜しくお願い致します。</p>
<br>
	<p>DB管理者郭瑞<br>
	部署名：情報管理部</p>
	
<a href="B0.html">ログオン画面に戻る</a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<hr>
		<center><div> <a>〒110-0015 東京東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
		<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>
</body>
</html>
