
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="../css/default.css">
<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>社員情報編集完了</title>
<link rel="stylesheet" type="text/css" href="default.css" />
</style>
</head>
<br>

	<body>
		<div class="form-wrapper">
		<br>
		<br>
			<center><p style="font-size: x-large">社員情報編集完了</p></font></center>
	<br>
<form method="post"action="index.html">
	<form method="post" action="index.html" style="height: 624px">
		<table align="center">
			<center><p>編集が完了しました。<p></center>
			</p>

		</table>

　　　　　　　<div class="button-panel" style="width: 100%" align="center" >
	 　　　　　
	<input type="submit" class="button" title="Sign In" value="戻る" style="width: 31%" ></input>


	　　　　　</div>


		</input>
	　　　　　</div>


	</form>
	<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<hr>

	<center><div> <a>〒110-0015 東京東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
	<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>
</div>
</body>
</html>
