<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="./css/default.css">
<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>新規管理者登録</title>
<link rel="stylesheet" type="text/css" href="sample.css" />
</style>
</head>
<br>
	<h1>新規管理会員登録</h1>
	<body>
	<br>
<p style="font-size: x-large">アカウントを作成</p>
<p style="font-size: large">会員登録を行うの必要な以下の情報を入力してください。</p>
<form method="post"action="BN02.html">
	部署名：<input name="Text２" type="text" style="width: 205px"/><br>
	お申込者 ：<input name="Text２" type="text" style="width: 184px"/><br>
	メールアドレス：<input name="Text4" type="text" style="width: 141px"　/><br>
	パスワード：<input name="Text5" type="text" style="width: 173px" /><br>
	パスワードヒント：<input name="Text5" type="text" style="width: 125px" /><br>
		<input type="button" value="取り戻し" onclick="location.href='B0.html';" style="width: 105px">
		<input name="Submit1" type="submit" value=" 確定 " style="width: 105px" />
				<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<hr>
		<center><div> <a>〒110-0015 東京東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
		<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>
</body>
</html>
