<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="./css/default.css">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>新規管理登録終了</title>
<link rel="stylesheet" type="text/css" href="sample.css" />
</head>

<body>
<br>
	<h1>新規法人会員登録終了</h1>
	<br>
	<br>
	<p>登録が完了しました。<br>
	登録されたメールアドレスに会員登録メールをお送るのでご確認ください。<br>
	安全のためもう一度ログイン画面でログインしてください。</p>
	<a href="B0.html">
		<input name="Button1" type="button" value="ログイン画面に戻る"/></a>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<hr>
		<center><div> <a>〒110-0015 東京都東上野台東市6丁目−2−番1号MPR東上野ビル10F</a></div></center>
		<center><div>  <span>© 2020 Sunseer corporation</span> </div></center>
</body>
</html>
