
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="sample.css" />
    <title>新規社員情報登録画面</title>
    <meta name="description" content="新人情報登録画面です。">
<style type="text/css">
    span{
        width: 130px;
        height: 37px;
        display: inline-block;
        text-align: justify;
        text-justify: inter-ideograph;
        -webkit-text-align:justify;
        -moz-text-align: justify;
    }
.auto-style1 {
	font-size: medium;
}
.auto-style2 {
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
</style>
</head>
<body> 
    <center>
        <table class="row">
        <br><br>
            <h1 style="width: 668px">社員情報登録完了</h1>
            <br><br>
            <p class="auto-style2" style="font-size: large">登録が完了しました。<br>
            	登録された社員様の情報をご確認お願い致します。
	        </p>
			<p class="auto-style2" style="font-size: large">
	<br>
                <input id=complete type="button" value= "メイン画面委戻る" onclick="location.href='index.html';" style="font-size: medium"> </a>
            </p>
        </div>
    </center>
</body>
</html>