
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="sample.css" />
    <title>新規社員情報登録画面</title>
    <meta name="description" content="新人情報登録画面です。">
<style type="text/css">
    span{
        width: 130px;
        height: 37px;
        display: inline-block;
        text-align: justify;
        text-justify: inter-ideograph;
        -webkit-text-align:justify;
        -moz-text-align: justify;
    }
.auto-style1 {
	font-size: large;
}
.auto-style2 {
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
</style>
</head>
<body> 
    <center>
        <table class="row">
            <h1 style="width: 668px">社員情報登録確認</h1>
                
       <table border="2" style="width: 1015px">
            <tbody>
                <tr>
                    <td rowspan="5" width="20%" class="text-center"><img src="http://placehold.jp/150x150.png" alt=""></td>
                    <td width="35%">氏名：石丸理穂</td>
                    <td width="35%">性別：女性</td>
                    <tr>
                    <td width="35%">フリガナ：イシマル　リホ</td>
                    <td width="35%">部署：○○○○○○○○部署</td>
                    <tr>
                    <td width="35%">生年月日：1997/09/13</td>
                    <td width="35%">メールアドレス：mail@sample.com</td>
                </tr>
                <tr>
                    <td width="35%">電話番号:090-1234-5678</td>
                    <td width="35%">住所：東京都中央区1-1-1</td>
                    <tr>
                    <td width="35%">学歴：○○○○大学○○○○学部○○○○学科</td>
                    <td width="35%">特技:一輪車</td>
                </tr>
            </tbody>
        </table>

                
            <p class="auto-style2">
			<span class="auto-style1" style="width: 276px">以上の内容で完了しますか?</span><br>
                <input id=Mod type="button" value= "登録画面に戻る" onclick="location.href='BME01.html';" style="font-size: medium; width: 120px;"> </a>
                <input id=cancel type="button" value= "ホーム画面に戻る" onclick="location.href='index.html';" style="font-size: medium; width: 134px;"> </a>
                <input id=log type="submit"value="完了" onclick="location.href='BME03.html';" style="font-size: medium; width: 96px;"> </a>

            </p>
        </div>
    </center>
</body>
</html>