<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel = "shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/default.css" />
    <title>新規社員登録確認画面</title>
    <meta name="description" content="新規社員登録確認画面です。">
<style type="text/css">
    span{
        width: 130px;
        height: 37px;
        display: inline-block;
        text-align: justify;
        text-justify: inter-ideograph;
        -webkit-text-align:justify;
        -moz-text-align: justify;
    }
.auto-style1 {
	font-size: large;
}
</style>
</head>
<body>
<div class=form-BNM02 background color ="#fafafa";>

    <center>
       <table class="row">

       <br>

       <center><p style="font-size: x-large">新規社員登録確認</p></font></center>
       <span th:each="e : ${usersdata}"  enctype="multipart/form-data">
       <form th:action="@{/user/BNM02}" method="post">
       <table border="2" style="width: 1015px">
            <tbody>
	            <tr>
	                <td rowspan="5" width="20%" class="text-center">
	                <img th:src="@{/images/rotPhoto/{filename}(filename=${e.user_image})}" height="131" width="195"></td><!--写真追加部分-->
	                <td width="35%" th:text="|氏名:${e.user_firstname} ${e.user_lastname}|"></td>
	                <td width="35%" th:text="|性別:${e.user_gender}|"></td>
	            </tr>
	            <tr>
	                <td width="35%" th:text="|フリガナ:${e.user_firstkata} ${e.user_lastkata}|"></td>
	                <td width="35%" th:text="|部署:${e.depart_name}|"></td>
	                <tr>
	                    <td width="35%" th:text="|生年月日:${e.user_birth}|"></td>
	                    <td width="35%" th:text="|メールアドレス:${e.user_mail}|"></td>
	                </tr>
	            </tr>
	            <tr>
	                <td width="35%" th:text="|電話番号:${e.user_tele}|"></td>
	                <td width="35%" th:text="|住所:${e.user_address}|"></td>
	            </tr>
	            <tr>
	                <td width="35%" th:text="|学歴:${e.user_education}|"></td>
	                <td width="35%" th:text="|特技:${e.user_special}|"></td>
	            </tr>
            </tbody>
        </table>

        <p class="auto-style2">
			<span class="auto-style1" style="width: 263px">以上の内容で完了しますか?</span><br>
            <div class="button-panel" style="width: 100%" align="center">

            <a th:href="@{/user/BNM01}"><input type="submit" class="button" title="return" value="戻る" style="width: 31%" align="center"></a>
	            <input type="submit" class="button" title="OK" value="完了" style="width: 31%" align="center">
            </form>
            </div>
		</span>
    	<hr class="footer">
        <center><div> <a>〒110-0015 東京都東上野台東市6丁目2番1号MPR東上野ビル10F</a></div></center>
        <center><div>  <a>© 2020 Sunseer corporation</a> </div></center>
        </div>
        </body>
        </html>