
* {
    box-sizing: border-box;
 }
 body {
    margin: 0;
    padding: 0;
    font: 400 87.5%/1.5em 'Open Sans', sans-serif;
    background-color: #e6e6e6;
 }

/*ヘッダー*/

 header {
    /* padding: 0px 4% 0px; */
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 4% !important;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
    color:#5e5e5e;
 }
 a {	
    text-decoration: none;
    color: #5e5e5e;
 }
 nav {
    margin: 0 0 0 auto;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    /* margin: 0 0 0 15px; */
    font-size: 14px;
 }

 header li a{
    display: inline-block;
    padding: 1.5em 2em;
}

li.hov{
    transition: all .3s ease-in;
}

li.hov a{
    transition: all .3s ease-in;
}

li.hov .colorpink{
    transition: all .3s ease-in;
    color: #f16272;
}

li.hov:hover{
    background-color: #f16272;
    opacity: 0.7;
}

li.hov:hover a{
    color: white !important;
}

li.hov:hover .colorpink{color: white;}


 /*=================
 ヘッダーから下
 ==================*/


 input.button{
     border: .5px solid #f16272;
     background-color: transparent;
     padding: 0.5em 1em;
     transition: all 0.3s ease-in;
 }

 input.button .colorpink,button.button .colorpink{
     transition: all .3s ease-in;
     color: #f16272;
 }

 button.button[type="submit"],button.button[type="submit"] .colorpink{
     color: white;
     background-color: #f16272;
     transition: all .3s ease-in;
 }

 button.button[type="submit"]:hover{
    opacity: 0.7;
}

 button.button{
     border: .5px solid #f16272;
     background-color: transparent;
     padding: 0.5em 1em;
     transition: all 0.3s ease-in;
}

button.button:hover,input.button:hover{
    color: white;
     background-color: #f16272;
     border: .5px solid #f16272;
     padding: 0.5em 1em;
}

input.button:hover .colorpink,button.button:hover .colorpink{
    color: white;
}


 .whitebox{
    margin: 5em auto 0 auto;
    padding: 20px;
    width: 1412px;
    /* height: 1000px; */
    background-color: white;
    display: flex;
}
.searchbox{
    /* display: inline-block; */
    width: 303px;
    /* border: 1px solid black; */
    /* height: 700px; */
    /* padding: 1em; */
}
.listbox{
    /* display: inline-block; */
    width: 1069px;
    /* border: 1px solid black; */
    /* height: 700px; */
    /* padding: 1em; */
}

.searchbox h2, .listbox h2{
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #5e5e5e;
    color: #5e5e5e;
    padding: .5em 1em;
    
}

.box-center{
    padding-left: 3em;
}

.form-class label.top{
    display: block;
}
.form-class input{
    width: 100%;
}

div.form-class{
    margin-top: .5em;
}

.form-radio{
    padding: .2em;
    border: .1px solid #5e5e5e;
}
.form-radio input{
    width: 30%;
}


/*ヘッダー*/
hr.footer{
    margin-top: 3em;
}